
.item-container {
    border: solid gray 1px;
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
}

.item-image {
    float: left;
    width:  100%;
    height: 100px;
    object-fit: cover;

}

.info-container {

}

.heart-like {
    width: 15px;
    height: 15px;
}

