.wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    background-color: red;
}

div {
    width: 100%;
}


.logo {
    height: 70px;
    width: 70px;
}

.userlogo {
    height: 50px;
    width: 50px;
}

