.wrapper {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--secColor);
    height: 50px;
    z-index: 99;
    font-weight: bold;
}


.nav-bar-explore-btn, .nav-bar-create-btn {
    text-decoration: none;
    color: var(--primColor);
}

.nav-bar-logo:hover,
.nav-bar-user-btn:hover,
a:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}


.nav-bar-logo,
.nav-bar-user-btn {
    width: 25px;
    height: 25px;
    color: var(--primColor);
}